In [5]:
import numpy as np
import pandas as pd

In [6]:
emp_atr = pd.read_excel('/content/emp_attr.xlsx')

In [7]:
emp_atr.columns

Index(['EmployeeID', 'JobInvolvement', 'PerformanceRating',
       'EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance', 'Age',
       'Attrition', 'Business_Travel', 'DistanceFromHome', 'Education',
       'Gender', 'JobLevel', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'YearsAtCompany'],
      dtype='object')

In [16]:
X = emp_atr.drop(['Attrition','EmployeeID'],axis=1)

In [9]:
y= emp_atr['Attrition']

In [17]:
X.head(7)

,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Business_Travel,DistanceFromHome,Education,Gender,JobLevel,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,YearsAtCompany
0,3,3,3.0,4.0,2.0,51,1,6,2,2,1,1,131160,1.0,11,8,0,1.0,1
1,2,4,3.0,2.0,4.0,31,2,10,1,2,1,0,41890,0.0,23,8,1,6.0,5
2,3,3,2.0,2.0,1.0,32,2,17,4,1,4,1,193280,1.0,15,8,3,5.0,5
3,2,3,4.0,4.0,3.0,38,3,2,5,1,3,1,83210,3.0,11,8,3,13.0,8
4,3,3,4.0,1.0,3.0,32,1,10,1,1,1,0,23420,4.0,12,8,2,9.0,6
5,3,3,3.0,2.0,2.0,46,1,8,3,2,4,1,40710,3.0,13,8,0,28.0,7
6,3,4,1.0,3.0,1.0,28,1,11,2,1,2,0,58130,2.0,20,8,1,5.0,0

In [11]:
y.head(9)

0    0
1    1
2    0
3    0
4    0
5    0
6    1
7    0
8    0
Name: Attrition, dtype: int64

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [15]:
log_reg = LogisticRegression()

In [19]:
log_reg.fit(X_train,y_train)

ValueError: ignored

In [21]:
X.isnull().count

<bound method DataFrame.count of       JobInvolvement  PerformanceRating  EnvironmentSatisfaction  \
0              False              False                    False
1              False              False                    False
2              False              False                    False
3              False              False                    False
4              False              False                    False
...              ...                ...                      ...
4405           False              False                    False
4406           False              False                    False
4407           False              False                    False
4408           False              False                    False
4409           False              False                    False

      JobSatisfaction  WorkLifeBalance    Age  Business_Travel  \
0               False            False  False            False
1               False            False  False            False
2               False            False  False            False
3               False            False  False            False
4               False            False  False            False
...               ...              ...    ...              ...
4405            False            False  False            False
4406            False            False  False            False
4407            False            False  False            False
4408            False            False  False            False
4409            False             True  False            False

      DistanceFromHome  Education  Gender  JobLevel  MaritalStatus  \
0                False      False   False     False          False
1                False      False   False     False          False
2                False      False   False     False          False
3                False      False   False     False          False
4                False      False   False     False          False
...                ...        ...     ...       ...            ...
4405             False      False   False     False          False
4406             False      False   False     False          False
4407             False      False   False     False          False
4408             False      False   False     False          False
4409             False      False   False     False          False

      MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  StandardHours  \
0             False               False              False          False
1             False               False              False          False
2             False               False              False          False
3             False               False              False          False
4             False               False              False          False
...             ...                 ...                ...            ...
4405          False               False              False          False
4406          False               False              False          False
4407          False               False              False          False
4408          False               False              False          False
4409          False               False              False          False

      StockOptionLevel  TotalWorkingYears  YearsAtCompany
0                False              False           False
1                False              False           False
2                False              False           False
3                False              False           False
4                False              False           False
...                ...                ...             ...
4405             False              False           False
4406             False              False           False
4407             False              False           False
4408             False              False           False
4409             False               True           False

[4410 rows x 19 columns]>

In [22]:
X.dropna()

,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Business_Travel,DistanceFromHome,Education,Gender,JobLevel,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,YearsAtCompany
0,3,3,3.0,4.0,2.0,51,1,6,2,2,1,1,131160,1.0,11,8,0,1.0,1
1,2,4,3.0,2.0,4.0,31,2,10,1,2,1,0,41890,0.0,23,8,1,6.0,5
2,3,3,2.0,2.0,1.0,32,2,17,4,1,4,1,193280,1.0,15,8,3,5.0,5
3,2,3,4.0,4.0,3.0,38,3,2,5,1,3,1,83210,3.0,11,8,3,13.0,8
4,3,3,4.0,1.0,3.0,32,1,10,1,1,1,0,23420,4.0,12,8,2,9.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,2,3,3.0,4.0,3.0,29,1,4,3,2,2,0,35390,1.0,18,8,0,6.0,6
4405,3,3,4.0,1.0,3.0,42,1,5,4,2,1,0,60290,3.0,17,8,1,10.0,3
4406,2,3,4.0,4.0,3.0,29,1,2,4,1,1,0,26790,2.0,15,8,0,10.0,3
4407,3,4,1.0,3.0,3.0,25,1,25,2,1,2,1,37020,0.0,20,8,0,5.0,4
4408,2,3,4.0,1.0,3.0,42,1,18,2,1,1,0,23980,0.0,14,8,1,10.0,9

In [23]:
X.shape

(4410, 19)

In [27]:
X.dropna().shape

(4300, 19)